@font-face {
    font-family: postindex;
    src: url('post.TTF') format('truetype');
}
.dialog-button[data-cid]>a{
    color:#4c7da6;
    padding: 8px 0;
    /*border:1px solid #4c7da6;*/
    cursor: pointer;
}
.dialog-button[data-cid]>a:hover{
   text-decoration: underline;
}
body {
    /*top:0;*/
    /*left:0;*/
    /*position: relative;*/
    /*height:100%;*/
    /*width: 100%;*/
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    color: #000;
    background: #3E4F60;
}

#main-bg {
    /*background: #95ACCA;*/
    width: 1280px;
    margin: 0 auto;
    padding: 10px 0;
    border-left: 1px solid #454545;
    border-bottom: 1px solid #454545;
    border-right: 1px solid #454545;

    background: url(css/images/bgborder.jpg);

    -webkit-animation: mainBgGradientAnimation 11s linear infinite;
    -moz-animation: mainBgGradientAnimation 11s linear infinite;
    -o-animation: mainBgGradientAnimation 11s linear infinite;
    animation: mainBgGradientAnimation 11s linear infinite;
}

@-webkit-keyframes mainBgGradientAnimation {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: -50px -10px;
    }
    50% {
        background-position: -40px -40px;
    }
    75% {
        background-position: -10px -50px;
    }
    100% {
        background-position: 0 0;
    }
}

@-moz-keyframes mainBgGradientAnimation {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: -50px -10px;
    }
    50% {
        background-position: -40px -40px;
    }
    75% {
        background-position: -10px -50px;
    }
    100% {
        background-position: 0 0;
    }
}

@-o-keyframes mainBgGradientAnimation {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: -50px -10px;
    }
    50% {
        background-position: -40px -40px;
    }
    75% {
        background-position: -10px -50px;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes mainBgGradientAnimation {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: -50px -10px;
    }
    50% {
        background-position: -40px -40px;
    }
    75% {
        background-position: -10px -50px;
    }
    100% {
        background-position: 0 0;
    }
}

#header {
    overflow: hidden;
    background: #fff;
    width: 1250px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid lightslategray;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#main-container {
    width: 1250px;
    padding: 5px;
    margin: 0 auto;
    background: #fff;
    /*overflow: hidden;*/
    border-left: 1px solid lightslategray;
    border-right: 1px solid lightslategray;
}

#footer {
    min-height: 50px;
    overflow: hidden;
    background: #fff;
    width: 1250px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid lightslategray;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

h2 {
    font-size: 16px;
}

.fright {
    float: right !important;
}

.fleft {
    float: left !important;
}

/*-------------------------------*/
/*---------- CDEK popup:: -------*/
#send2cdek_container {
    display: none;
    position: fixed;
    /*top: 5%;*/
    /*left: 50%;*/
    /*height: 90%;*/
    z-index: 800;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    /*cursor: pointer;*/
    overflow-x: hidden;
    overflow-y: auto;
}

#send2cdek_container form {
    /*margin-left: -50%;*/
    /*margin-right: 50%;*/
    padding: 4px;
    border: 1px solid #000;
    border-radius: 6px;
    /*height: 100%;*/
    margin: 4% 1.5% 2%;
    background: rgba(255, 255, 255, .6);
}

#send2cdek_container table {
    background: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
}

#send2cdek_container td {
    padding: 5px 7px;
}

#send2cdek_container .send-input {
    width: 30px;
    text-align: center;
}

#send2cdek_container .cdek_tarifs_result td {
    text-align: left;
}

#send2cdek_container .cdek_tarifs_result label input[type="radio"] {
    margin-top: 5px;
    margin-right: 5px;
}

#send2cdek_container .cdek_tarifs_result .min-price {
    color: green;
    font-weight: bold;
}

#send-product-list {
    width: 100%;
    white-space: nowrap;
}

#send-product-list td.send-name {
    white-space: normal;
}

#send-product-list tr:hover {
    background: #f5fbfb;
}

#send-product-list tr {
    padding: 0;
}

#send-product-list tbody td {
    border-right: 1px solid #e0e0e0;
}

#send-product-list td {
    padding: 2px 5px;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}

#send-product-list td.send-q {
    text-align: left;
}

#send-product-list th {
    padding: 0 2px;
    border-right: 1px solid #e0e0e0;
}

#send-product-list td:last-child,
#send-product-list th:last-child {
    border-right: none;
}

#send-product-list select {
    min-width: 50%;
}

#send-product-list td.send-total-title {
    text-align: right;
}

#send-product-list tr.send-total td {
    font-weight: bold;
}

#send-product-list td.send-total-border {
    border-right: 1px solid #e0e0e0;
}

#send-product-list .send-name {
    text-align: left;
}

.cdek_err {
    border: 1px solid red;
}

#send-product-list .send-btn {
    width: 26px;
    font-weight: bold;
    text-align: center;
}

#send-product-list .send-remove-btn {
    background: #E5ACAC;
}

#send-product-list .send-remove-btn:hover {
    background: #444;
}

#send-product-list .send-colored {
    color: #000;
}

#send-product-list .send-color-1 {
    background: #fff;
}

#send-product-list .send-color-2 {
    background: #57A1FF;
}

#send-product-list .send-color-3 {
    background: #57FF6D;
}

#send-product-list .send-color-4 {
    background: #7A57FF;
}

#send-product-list .send-color-5 {
    background: #E4FF57;
}

#send-product-list .send-color-6 {
    background: #57E7FF;
}

#send-product-list .send-color-7 {
    background: #FF5757;
}

#send-product-list .send-color-8 {
    background: #FFC557;
}

#send-product-list .send-color-9 {
    background: #CFD6FB;
}

#send-product-list .send-color-10 {
    background: #F9C9C9;
}

#send-product-list .send-color-11 {
    background: #F3F9C9;
}

#send-product-list .send-color-12 {
    background: #BEEDF5;
}

#send-product-list .send-color-13 {
    background: #BBEAC0;
}

#send-product-list .send-color-14 {
    background: #E0C9F9;
}

#send-product-list .send-color-15 {
    background: #A5A4A4;
}

#send-product-list .send-color-16 {
    background: #6E9263;
}

#send-product-list .send-color-17 {
    background: #926390;
}

#send-product-list .send-color-18 {
    background: #638F92;
}

#send-product-list .send-color-19 {
    background: #926363;
}

#send-product-list .send-color-20 {
    background: #636B92;
}

/*media::*/
.bsrow {
    overflow: hidden;
}

.bs1 {
    width: 8.33%;
}

.bs2 {
    width: 16.66%;
}

.bs3 {
    width: 25%;
}

.bs4 {
    width: 33.33%;
}

.bs5 {
    width: 41.66%;
}

.bs6 {
    width: 50%;
}

.bs7 {
    width: 58.33%;
}

.bs8 {
    width: 66.66%;
}

.bs9 {
    width: 75%;
}

.bs10 {
    width: 83.33%;
}

.bs11 {
    width: 91.66%;
}

.bs12 {
    width: 100%;
}

.bs1, .bs2, .bs3, .bs4, .bs5, .bs6, .bs7, .bs8, .bs9, .bs10, .bs11, .bs12 {
    float: left;
    overflow: hidden;
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    #main-bg {
        border: 0;
        width: 100%;
    }

    #header, #main-container, #footer {
        width: auto;
        margin: 0 10px;
    }
}

@media screen and (min-width: 1000px) {
    /*-------------------------------*/
    /*---------- CDEK popup:: -------*/
    #send2cdek_container form {
        margin: 4% 15% 2%;
    }

}

/*loader::*/
/*loader::*/
#report-loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 200000;
    display: none;
}

#report-loader-container:before,
#report-loader-container:after {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#report-loader-container:before {
    border-top: 5px double dodgerblue;
    border-bottom: 5px double dodgerblue;
    animation: reportLoader1 1000ms linear 0s infinite;
}

#report-loader-container:after {
    border-left: 5px double white;
    border-right: 5px double white;
    animation: reportLoader2 1000ms linear 0s infinite;
}

@keyframes reportLoader1 {
    from {
        border-color: dodgerblue;
        -webkit-transform: translate(-50%, -50%) scale(1.2) rotate(0deg);
        -moz-transform: translate(-50%, -50%) scale(1.2) rotate(0deg);
        -ms-transform: translate(-50%, -50%) scale(1.2) rotate(0deg);
        -o-transform: translate(-50%, -50%) scale(1.2) rotate(0deg);
        transform: translate(-50%, -50%) scale(1.2) rotate(0deg);
    }
    25% {
        border-color: white;
    }
    50% {
        border-color: dodgerblue;
        -webkit-transform: translate(-50%, -50%) scale(.5) rotate(180deg);
        -moz-transform: translate(-50%, -50%) scale(.5) rotate(180deg);
        -ms-transform: translate(-50%, -50%) scale(.5) rotate(180deg);
        -o-transform: translate(-50%, -50%) scale(.5) rotate(180deg);
        transform: translate(-50%, -50%) scale(.5) rotate(180deg);
    }
    75% {
        border-color: white;
    }
    to {
        border-color: dodgerblue;
        -webkit-transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
        -moz-transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
        -ms-transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
        -o-transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
        transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
    }
}

@keyframes reportLoader2 {
    from {
        border-color: white;
        -webkit-transform: translate(-50%, -50%) scale(.3) rotate(0deg);
        -moz-transform: translate(-50%, -50%) scale(.3) rotate(0deg);
        -ms-transform: translate(-50%, -50%) scale(.3) rotate(0deg);
        -o-transform: translate(-50%, -50%) scale(.3) rotate(0deg);
        transform: translate(-50%, -50%) scale(.3) rotate(0deg);
    }
    25% {
        border-color: crimson;
    }
    50% {
        border-color: white;
        -webkit-transform: translate(-50%, -50%) scale(1) rotate(180deg);
        -moz-transform: translate(-50%, -50%) scale(1) rotate(180deg);
        -ms-transform: translate(-50%, -50%) scale(1) rotate(180deg);
        -o-transform: translate(-50%, -50%) scale(1) rotate(180deg);
        transform: translate(-50%, -50%) scale(1) rotate(180deg);
    }
    75% {
        border-color: crimson;
    }
    to {
        border-color: white;
        -webkit-transform: translate(-50%, -50%) scale(.3) rotate(360deg);
        -moz-transform: translate(-50%, -50%) scale(.3) rotate(360deg);
        -ms-transform: translate(-50%, -50%) scale(.3) rotate(360deg);
        -o-transform: translate(-50%, -50%) scale(.3) rotate(360deg);
        transform: translate(-50%, -50%) scale(.3) rotate(360deg);
    }
}

img.loaderRotation {
    animation: loaderRotation 2s linear 0s infinite;
}

@keyframes loaderRotation {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    );
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*Всплывающая подсказка к тегу добавить атрибут tooltip и если нужно чтобы она всплывала не сверху то flow*/
[tooltip] {
    position: relative;
}
[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    font-size: .9em;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}
[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    z-index: 101;
}
[tooltip]::after {
    content: attr(tooltip);
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 102;
}
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}
[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}
[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}
[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}
@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}
@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}
/*@Конец всплывающая подсказка */
/*@Начало стили уголков для сортировки*/
.arrow{
    position: absolute;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-top-color: white;
    top: 6px;
    right: 5px;
    padding: 0;
    float: right;
    display: inline-block;
}
.arrow:before{
    content:'';
    width: 0px;
    height: 0px;
    border: 3px solid transparent;
    border-top-color: #4c7da6;
    display: inline-block;
    -webkit-transform: translate(-3px, -15px);
}
.arrow.down{
    transform: rotate(0deg) translate(0px, 0px);
    -webkit-transform: rotate(0deg) translate(0px, 0px);
    -moz-transform: rotate(0deg) translate(0px, 0px);
    -o-transform: rotate(0deg) translate(0px, 0px);
    -ms-transform: rotate(0deg) translate(0px, 0px);
}
.arrow.up{
    transform: rotate(180deg) translate(0px, 7px);
    -webkit-transform: rotate(180deg) translate(0px, 7px);
    -moz-transform: rotate(180deg) translate(0px, 7px);
    -o-transform: rotate(180deg) translate(0px, 7px);
    -ms-transform: rotate(180deg) translate(0px, 7px) translate(0px, 7px);
}
/*@Конец стили уголков для сортировки*/