/*#P1*/
#wintertime,
#wintertime:after,
#springtime,
#summertime,
#autumntime {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-size: cover;
}

#wintertime #main-bg,
#springtime #main-bg,
#summertime #main-bg,
#autumntime #main-bg {
    width: 400px;
    z-index: 2;
    background: rgba(255, 255, 255, .45);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#wintertime #main-bg #header,
#springtime #main-bg #header,
#summertime #main-bg #header,
#autumntime #main-bg #header,
#wintertime #main-bg #footer,
#springtime #main-bg #footer,
#summertime #main-bg #footer,
#autumntime #main-bg #footer {
    height: 25px;
    min-height:25px;
}

#wintertime #main-bg #header a,
#springtime #main-bg #header a,
#summertime #main-bg #header a,
#autumntime #main-bg #header a,
#wintertime #main-bg #header br,
#springtime #main-bg #header br,
#summertime #main-bg #header br,
#autumntime #main-bg #header br {
    display: none;
}

#wintertime #main-bg #header,
#springtime #main-bg #header,
#summertime #main-bg #header,
#autumntime #main-bg #header,
#wintertime #main-bg #main-container,
#springtime #main-bg #main-container,
#summertime #main-bg #main-container,
#autumntime #main-bg #main-container,
#wintertime #main-bg #footer,
#springtime #main-bg #footer,
#summertime #main-bg #footer,
#autumntime #main-bg #footer {
    background: rgba(255, 255, 255, .7);
    width: auto;
    margin: 0 10px;
}

/*WINTER TIME:::*/
/*WINTER TIME:::*/
/*WINTER TIME:::*/

@keyframes letitsnow {
    100% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    0% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-moz-keyframes letitsnow {
    100% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    0% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
    }
}

@-webkit-keyframes letitsnow {
    100% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    0% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-ms-keyframes letitsnow {
    100% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    0% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

/*#P2*/
/*SPRING TIME::*/
/*SPRING TIME::*/
/*SPRING TIME::*/

.butterfly {
    z-index: 1;
    top: 5%;
    position: relative;
    height: 100px;
    width: 200px;
    perspective: 400px;
    animation: flybutterfly 12s infinite;
    margin: 0 auto;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

@keyframes flybutterfly {
    0% {
        transform: translate(0, 0) rotate(0deg);
        filter: blur(5px);
        -webkit-filter: blur(5px);
    }
    20% {
        transform: translate(120%, 160%) rotate(20deg) scale(1.1);
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
    40% {
        transform: translate(-60%, 260%) rotate(-60deg) scale(1.4);
        filter: blur(0);
        -webkit-filter: blur(0);
    }
    60% {
        transform: translate(60%, 220%) rotate(-10deg) scale(1.1);
        filter: blur(0);
        -webkit-filter: blur(0);
    }
    80% {
        transform: translate(-120%, 100%) rotate(20deg) scale(0.9);
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
}

.butterfly div {
    float: left;
}

.wing.left {
    animation: flapLeft 0.3s infinite;
    transform-origin: 100% 50%;
}

.wing.right {
    animation: flapRight 0.3s infinite;
    background-position: 100% 0;
    transform-origin: 0 50%;
}

@keyframes flapLeft {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(60deg);
    }
}

@keyframes flapRight {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(-60deg);
    }
}

/*SUMMER TIME ::*/
/*SUMMER TIME ::*/
/*SUMMER TIME ::*/

/*AUTUMN TIME ::*/
/*AUTUMN TIME ::*/
/*AUTUMN TIME ::*/

/*для малого разрешения экранов::*/
@media screen and (max-width: 400px) {
    .year-time-block{width: 400px;}
}
