#igor-popup {
    overflow: hidden;
}

#_pechken {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 169px;
    height: 191px;
    background: url(pechken.png) 100% 100% no-repeat;
}

#_chain {
    z-index: 2;
    position: absolute;
    bottom: -90px;
    right: 77px;
    width: 59px;
    height: 85px;
    background: url(chain.png) 100% 100% no-repeat;
}

#_glasses {
    transition-delay: 0.5s;
    z-index: 3;
    position: absolute;
    bottom: 114px;
    right: -85px;
    width: 82px;
    height: 26px;
    background: url(glasses.png) 100% 100% no-repeat;
}

#_chain, #_glasses {
    -webkit-transition: .75s;
    -moz-transition: .75s;
    -ms-transition: .75s;
    -o-transition: .75s;
    transition: .75s;
}

#igor-popup.thuglife #_chain {
    bottom: -5px;
    right: 77px;
}

#igor-popup.thuglife #_glasses {
    bottom: 114px;
    right: 85px;
}
#popup-window-content-igor-popup{padding-bottom:105px;}
#_audio {
    display: none;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 30%;
}

#igor-popup #_audio {
    display: block;
}