.auth-block {
    width: 300px;
    margin: 0 auto;
}

.auth-block .margin-left {
    float: right;
}

.auth-block-auth {
    overflow: hidden;
}

.auth-block input,
.auth-block button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border-color: #d2d2d2;
    outline: none;
    padding: 3px 10px;

    text-align: center;
}
.auth-block input[type="text"],
.auth-block input[type="password"],
.auth-block input[type="submit"]{
    background:none;
    border-top-color: cornflowerblue;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;}
.auth-block input[type="text"]:hover,
.auth-block input[type="password"]:hover,
.auth-block input[type="submit"]:hover{
    border-top-color: rgba(100, 149, 237,.5);
background: rgba(248, 248, 255,.5)}
.auth-block input[type="submit"]{
    cursor:pointer;
    width: 100%;
    font-weight: bold;
    line-height: 25px;
}
#logout__form {
    text-align: center;
}

#logout__form input[type="submit"] {
    margin-top: 3px;
    padding: 3px 10px;
}